[Desktop Entry]
Type=Application
Name=Track Your Time
Comment=Free, open-source time tracking
Exec=trackyourtime %U
Icon=com.trebeljahr.trackyourtime
Categories=Office;ProjectManagement;
Terminal=false
